.about {
  padding: 3rem 1.5rem;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.about-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-text {
  font-family: var(--font-body);
  line-height: 1.7;
  color: #cfcfcf;
  font-size: 1rem;
  max-width: 800px;
}

.about-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-cv-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.about .section-title-about {
  font-family: var(--font-heading);
  font-size: 2rem;
  color: var(--color-text);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  
  .about {
    padding: 1rem 0.5rem;
  }
  
  .about-container {
    gap: 1rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .about .section-title-about {
    font-size: 1.5rem;
    margin-bottom: 0rem;
  }

  .about-cv {
    margin-top: 0.5rem;
  }
}