.home {
  min-height: 100vh;
  padding-top: 80px;
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
  position: relative;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .home {
    padding: 0 0.8rem;
  }
}
