/* --- MODO OSCURO --- */
:root,
[data-theme='dark'],
body[data-theme='dark'] {
  /* Fonts */
  --font-heading: 'Orbitron', sans-serif;
  --font-body: 'Inter', sans-serif;

  /* Paleta Dark */
  --color-bg: #0e0e11;
  --color-bg-card: rgba(255, 255, 255, 0.03);
  --color-primary: #b43aed;
  --color-text: #eaeaea;
  --color-text-dim: #cfcfcf;
  --color-text-muted: #8f8f8f;
  --color-border: rgba(180, 58, 237, 0.25);
  --color-border-soft: rgba(255, 255, 255, 0.05);
  --color-header-bg: rgba(14, 14, 17, 0.7);

  /* Skills & Gradients Dark */
  --color-skill-bg: #141418;
  --color-skill-border: #222222;
  --bg-gradient-1: #040406;
  --bg-gradient-2: #070710;
  --bg-gradient-3: #050507;
  --hex-opacity: 0.04;
  --hex-filter: none;
  --skill-img-filter: grayscale(1) brightness(0.9);
  --skill-img-hover: grayscale(0) brightness(1.15);
}

/* --- MODO CLARO --- */
[data-theme='light'],
body[data-theme='light'] {
  --color-bg: #f8fafc;
  --color-bg-card: rgba(255, 255, 255, 0.6);
  --color-primary: #8b29b9;
  --color-text: #0f172a;
  --color-text-dim: #334155;
  --color-text-muted: #64748b;
  --color-border: rgba(139, 41, 185, 0.2);
  --color-border-soft: rgba(0, 0, 0, 0.05);
  --color-header-bg: rgba(255, 255, 255, 0.7);

  /* Skills & Gradients Light */
  --color-skill-bg: #ffffff;
  --color-skill-border: #e2e8f0;
  --bg-gradient-1: #ffffff; 
  --bg-gradient-2: #f8fafc; 
  --bg-gradient-3: #f1f5f9; 
  --hex-opacity: 0.15; 
  --hex-filter: invert(1) brightness(0.8) contrast(0.5);
  --skill-img-filter: grayscale(1) brightness(0.2); 
  --skill-img-hover: grayscale(0) brightness(1);
}